<!DOCTYPE html>
<html lang="de-DE">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Title</title>
</head>
<body>
    <img src="image.jpg" class="imageCenterHorizontal">

    <div class="imageContainer">
        <img src="image.jpg" class="imageCenterVertical">
    </div>

    Flex horizontal:
    <div class="box-horizontal">
        <img src="image.jpg">
    </div>

    Flex vertical:
    <div class="box-vertical">
        <img src="image.jpg">
    </div>

    Flex horizontal and vertical:
    <div class="box-horizontal-vertical">
        <img src="image.jpg">
    </div>
    

</body>
</html>